body {
	background-color: aliceblue;
}

#search-area {
	text-align: center;
	margin: 100px;
}

/* Input styling adapted from - http://callmenick.com/post/various-css-input-text-styles */
input {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
input:focus,
input.focus {
  border: solid 5px #969696;
}


#photo-loc {
	text-align: center;
}

img.preview{
	border: 2px solid black;
	cursor: pointer;
	margin: 4px;
	width: 274px;
	height: 393px;
}

img.preview:hover {
	border: 4px solid orange;
	margin: 2px;
}

#modal-photo {
	width: 554px;
	height: 800px;
}
#modal {
	text-align: center;
}

#next {
	float: right;
}
#previous {
	float: left;
}

/* Adapted from - http://codepen.io/grayghostvisuals/pen/ehbaK */
#count {
	visibility: hidden;
	margin: 0px;
}
#count.is--fixed {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center
  line-height: 1.5;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding: 2px;
  color: white;
  background-color: black; /* Fallback Colour */
  background-color: rgba(0, 0, 0, 0.58);
  visibility: visible;;
}